.list {
    width: 100%;
    
}

.list-item {
    display: flex;
    justify-content: space-between;
}

.list-item-description {
    width: 80%;
}

.completed {
    color: black;
    outline: none;

}

.done {
    text-decoration: line-through;
    color: gray;
}

.delete {
    color: grey;

}

.delete:hover
{
    color: red;
}